package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${mainPath}.utils.PageUtils;
import ${package}.${moduleName}.entity.${className}Entity;

import java.util.Map;
import java.util.List;
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {
    /**
    * 获取分页列表
    *
    * @param params
    * @return
    */
    PageUtils queryPage(Map<String, Object> params);
    /**
      * 获取所有列表
      *
      * @param params
      * @return
      */
    List<${className}Entity> queryList(Map<String, Object> params);
}

